.name-generator {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__header {
    margin: 0 0 1rem;

    text-align: center;
    font-family: "blanchcaps_inline", sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
  }

  &__button {
    padding: 0.5rem 3rem;
    margin: 0 0 1rem;

    font-family: "blanchcaps_inline", sans-serif;
    font-size: 4rem;
  }
}

.length-toggle {
  &__button {
    &after {
      content: "";
      z-index: -1;
      display: block;
      background: #2c2c2c;
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      top: 0;
      transition: all 0.2s;
    }
    &.active,
    &:focus,
    &:hover {
      color: #fff;
      outline: 0;

      &:after {
        height: 100%;
      }
    }
  }
}
