.name-generator {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__header {
    margin: 0 0 1rem;

    text-align: center;
    font-family: "blanchcaps_inline", sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
  }

  &__button {
    padding: 0.5rem 3rem;
    margin: 0 0 1rem;

    font-family: "blanchcaps_inline", sans-serif;
    font-size: 4rem;
  }
}

.length-toggle {
  // placeholder
}
