.store-selector {
  background: #fff;
  max-width: 600px;
  margin: 50px auto;
  padding: 2rem;
  border: 2px solid #000;

  font-family: 'blanchcaps_inline', sans-serif;
  font-weight: 600;

  &__header {
    font-size: 6rem;
    margin-bottom: 1.5rem;
  }
  &__nav-button {
    width: 50%;

    padding: 0.7rem;

font-family: inherit;
    font-size: 3.5rem;
  }

  &__current-selection {
    margin: 0.5rem 0 1.5rem;
    
    font-size: 4rem;
    font-family: inherit;
    font-weight: inherit;


    text-align: left;
  }

  &__submit-button {
    width: 100%;
    padding: 1rem;

    font-size: 5rem;
    font-family: inherit;
    font-weight: inherit;

    &[disabled] {
      &:after {
        display: none;
      }
      &:hover,
      &:focus {
        color: crimson;
      }
    }
  }
}