.provide-name {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__header {
    margin: 0 0 0.5rem;

    text-align: center;
    font-family: "blanchcaps_inline", sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
  }

  &__instructions {
    margin: 0 0 1.5rem;

    color: #686868;

    font-size: 2.5rem;
    font-weight: 500;
  }

  &__controls {
    display: flex;

    width: 100%;

    & > *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__label {
    display: inline-block;
    width: 100%;

    display: flex;
    align-items: center;
  }

  &__field {
    margin-left: 1rem;

    flex: 1 1 auto;

    font-weight: inherit;
  }

  &__error-message {
    min-width: 318px;
    color: crimson;
    margin: 0.5rem 0 0;

    font-size: 2.5rem;
  }
}

.input-clear {
  color: #686868;
}

.input-confirm {
  color: #075f07;

  &:before,
  &:after {
    background: #075f07;
  }
}

.input-error {
  outline: crimson solid 4px;
}